.grid {
    border: 1px solid;
    height: 264px;
    width: 308px;
    display:flex;
    flex-wrap:wrap;
    background-color:blue;
    margin:auto;
}

h1, h3 {
    display:flex;
    width:max-content;
    margin:auto;
    margin-bottom:20px
}
.grid div {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius:50%;
    margin:2px
}

.player-one {
    background-color:red !important;
    border-radius:50%;
}

.player-two {
    background-color: yellow !important;
    border-radius: 50%;
}